apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nextcloud
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'ssh://git@gitea.os.sh4ke.rocks:2222/sh4ke/k8s-projects.git'
    path: nextcloud
    targetRevision: HEAD
    plugin:
      name: argocd-vault-plugin-helm
      env:
        - name: PLUGIN_PARAMS
          value: "-f values.yaml -f values.wavestack.yaml"
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: nextcloud
  syncPolicy:
    automated:
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
